body {
    background: linear-gradient(0deg, rgba(34, 193, 195, 0.7599253144654088) 0%, rgba(0, 0, 0, 1) 100%);
}

.custom-width-lg {
    width: 80%;
}

@media (max-width: 991.98px) {
    .custom-width-lg {
        width: auto;
        /* Reset width for smaller screens if necessary */
    }
}

.bg-navcolor {
    background-color: rgba(37, 82, 78, 0.932);
    /* Bootstrap's bg-dark in rgba with 80% opacity */
    color: rgb(255, 255, 255);
    border: 1px solid white;
}

.bg-navcolor:hover {
    background-color: rgb(255, 255, 255);
    /* Bootstrap's bg-dark in rgba with 80% opacity */
    color: rgb(0, 0, 0);
}

.navbar:hover {
    background-color: #000000e0;
    /* Bootstrap dark color */
    color: white;
}

.navbar:hover .nav-link {
    color: rgba(255, 255, 255, 0.9);
    /* Light text for links */
}

.mar {
    margin-top: 5%;
}

.card {
    transition-duration: 0.7s;
}

.card:hover {
    transform: rotateX(10deg) translateY(-10px);
}